:root {
    --main-background-color: #E5E5E5;
    --secondary-background-color: #F5F4FA;
    --heading-background-color: #ffffff;
    --footer-background-color: #2F303A;
    --main-color: #212121;
    --secondary-color: #757575;
    --third-turn-color: #ffffff;
    --accent-primary-color: #2196F3;
    --accent-secondary-color: #ffffff;
    --secondary-logo-color: #AFB1B8;
    --button-color: #ffffff;
    --button-background: #2196F3;
}

.body {
    background-color: var(--main-background-color);
    color: var(--main-color);
}

.header {
    background-color: var(--secondary-background-color);
}

.logo {
    color: #000000
}

.logo-color {
    color: #2196F3;
}

.site-nav-accent {
    color: var(--accent-primary-color);
}

.header-accent:hover,
.header-accent:focus {
    color: var(--accent-primary-color)
}

.header-link {
    color: var(--secondary-color);
}

.hero-text {
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
}

.button {
    color: var(--button-color);
    background-color: var(--button-background);
}

.values p {
    color: var(--secondary-color)
}

.specialization p {
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
}

.team p {
    color: var(--secondary-color);
}

.footer {
    background-color: var(--footer-background-color);
}

.footer-address {
    color: #ffffff;
}

.footer-address>a {
    color: rgba(255, 255, 255, 0.6);
}

.footer-join>b {
    color: var(--third-turn-color);
}

.footer-submit>b {
    color: var(--third-turn-color);
}

.footer-input {
    background-color: var(--footer-background-color);
}

.copyright {
    color: rgba(255, 255, 255, 0.4);
}

.portfolio-filter>li {
    background-color: var(--secondary-background-color);
}

.portfolio-filter>li:hover,
.portfolio-filter>li:focus {
    background-color: var(--accent-primary-color);
    color: var(--accent-secondary-color);
}

.portfolio-projects p {
    color: var(--secondary-color);
}